body{
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/1/14/JellyBellyBeans.jpg');
}

.container{
	background-color: rgba(255,255,255,1);
	border-radius: 6px;
}

.fill{
	position: fixed;
	min-height: 80%;
	margin-left: 65px;
	margin-right: 65px;
}

.spacer{
	margin-top: 40px;
}